/* Exact original partition map; ADC disabled for BOTH diagnostics. */
&adc { status = "disabled"; };

&code_partition {
    reg = <0x00026000 0x000c5000>;
};


/delete-node/ &storage_partition;


&flash0 {
    partitions {

        zboss_product_config: partition@eb000 {
            compatible = "zephyr,mapped-partition";
            label = "zboss-product-config";
            reg = <0x000eb000 0x00001000>;
        };

        zboss_nvram: partition@ec000 {
            compatible = "zephyr,mapped-partition";
            label = "zboss-nvram";
            reg = <0x000ec000 0x00008000>;
        };
    };
};